doctype html
html
  head
    title VikasDanceAcademy
    block scripts
    block style  
  body
    nav#navbar
            ul
                div#logo
                    img(src="/static/img/logo.png", alt="")
                    | VDA
                li #[a(href='/') Home]
                li #[a(href='/') Contact Us]
                li #[a(href='/') Class info]
                li #[a(href='/') About]
                li #[a(href='/') Services]
    block content
    footer#footer
        |Copyright © 2020 VikasDanceAcademy.com All rights reserved.    